@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Bebas+Neue&family=Cousine&family=Dosis:wght@200&family=Fredericka+the+Great&family=Hind+Madurai:wght@300&family=Indie+Flower&family=Kavoon&family=Koulen&family=Lobster&family=Lobster+Two&family=M+PLUS+1:wght@100&family=Open+Sans:wght@300&family=Source+Sans+Pro:wght@200&family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Bebas+Neue&family=Cousine&family=Dosis:wght@200&family=Fredericka+the+Great&family=Glory:wght@100&family=Hind+Madurai:wght@300&family=Indie+Flower&family=Kavoon&family=Koulen&family=Lobster&family=Lobster+Two&family=M+PLUS+1:wght@100&family=Open+Sans:wght@300&family=Source+Sans+Pro:wght@200&family=Tapestry&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titre {
    font-family: 'Koulen', cursive;
    text-align: center;
    font-size: 100px;
    padding-top: 50px;
    margin: 0px;
    color: white;
    animation: slide 1s ease-in;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateY(0%);
    }
}


.soustitre {
    text-align: center;
    font-size: 20px;
    padding-right: 300px;
    font-family: 'Kavoon', cursive;
    margin-top: 0;
    line-height: 0px;
    color: white;
    animation: slide2 2s ease-in;

}

@keyframes slide2 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

.cartes {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 150px;


}

.valley_blog {
    transform: rotate(-10deg);
    padding-right: 20px;
    text-align: center;
    padding-top: 50px;

}

.valley_blog p {
    font-family: 'Arvo', serif;
    color: black;
    font-weight: 700;
    font-size: larger;
}

.dame_books {
    transform: rotate(-10deg);
    padding-right: 20px;
    text-align: center;
}

.dame_books p {
    font-family: 'Arvo', serif;
    color: black;
    font-weight: 700;
    font-size: larger;
}

.roi_tips p {
    font-family: 'Arvo', serif;
    color: black;
    font-weight: 700;
    font-size: larger;

}

.ace_quotes p {
    font-family: 'Arvo', serif;
    color: black;
    font-weight: 700;
    font-size: larger;
}




.roi_tips {
    transform: rotate(10deg);
    text-align: center;

}

.ace_quotes {
    transform: rotate(10deg);
    text-align: center;
    padding-top: 50px;
}


div.bordure {
    border-bottom: 3px solid white;
}

body {
    background: linear-gradient(to bottom, #454651 0%, #454651 25%, #C4C4C4 50%, #C4C4C4 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

.intbouton {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: #F73746;
    box-shadow: 5px 10px 10px #5e171d;
    cursor: pointer;
}

.intbouton:hover {
    transform: scale(0.9);

}

.bouton {
    text-align: center;
    padding-top: 50px;
}

.messagecheck {
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    padding-top: 30px;
    margin-top: 20px;

}

.citationdavid {
    text-align: center;
    font-size: large;
    font-weight: 500;
    margin: 30px;

}

.david {
    text-align: center;
    padding-left: 400px;
    font-family: 'Lobster', cursive;
    font-size: large;
    margin-bottom: 30px;

}

[type="checkbox"]:checked #queen img,
#king img,
#jack img,
#ace img {
    z-index: -2;
}


/* .card:hover {
    z-index: 10;

} */

/* -test{
    z-index: 5;
} */

.valley_blog {
    width: 170px;
    height: 250px;
    perspective: 1000px;
    background-color: transparent;
    z-index: 10;
}

.valley_blog_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all .6s;
    transform-style: preserve-3d;

}

#jack {
    display: none;
}

#jack:checked+.valley_blog_inner {
    /* transform: rotateY(180deg) rotate(-10deg) ; */
    transform: rotateY(180deg) rotate(10deg);
    width: 170px;
    height: 250px;

    position: absolute;





}



.valley_blog_front,
.valley_blog_back {
    position: fixed;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.valley_blog_back {
    background-color: #454651;
    color: white;
    transform: rotateY(180deg);
    text-align: center;

}


.valley_blog_back img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
}







#queen {
    display: none;
}

.dame_books {
    width: 170px;
    height: 250px;
    perspective: 1000px;
    background-color: transparent;
    /* margin: 200px 0px 0px 200px; */
    z-index: 10;

}

.dame_books_inner {
    position: relative;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    transition: all .6s;

}

#queen:checked+.dame_books_inner {
    transform: rotateY(180deg) rotate(-10deg);
    height: 250px;
    width: 170px;
    position: absolute;


    /* animation: aggrandir 1s ease-in forwards; */
}


.dame_books_front,
.dame_books_back {
    position: fixed;
    height: 250px;
    width: 170px;
    backface-visibility: hidden;

}

.dame_books_back {
    background-color: 454651;
    color: white;
    transform: rotateY(180deg);
    text-align: center;
}

.dame_books_back img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
}






/* .card:hover {
    z-index: 10;

} */













.roi_tips {
    width: 170px;
    height: 250px;
    perspective: 1000px;
    background-color: transparent;
    z-index: 10;
}

.roi_tips_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all .6s;
    transform-style: preserve-3d;

}

#king {
    display: none;
}

#king:checked+.roi_tips_inner {
    transform: rotateY(180deg) translateX(11%);
    height: 250px;
    width: 170px;
    position: absolute;


}

.roi_tips_front,
.roi_tips_back {
    position: fixed;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}


.roi_tips_back {
    background-color: #454651;
    color: white;
    transform: rotateY(180deg);
    text-align: center;

}

.roi_tips_back img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
}






.ace_quotes {
    /* width: 170px;
    height: 250px;
    perspective: 1000px;
    background-color: transparent;
    z-index: 10; */
    width: 240px;
    height: 320px;
    perspective: 1000px;
    text-align: center;
    /* position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto; */

}

.ace_quotes_inner {
    /* position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 2s;
    transform-style: preserve-3d; */
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;

}

#ace {
    display: none;
}

#ace:checked+.ace_quotes_inner {
    /* transform: rotateY(180deg) rotate(10deg) ;
    height: 500px;
    width: 900px;
    position: absolute;
    right: 10px; */
    /* transform: rotateY(180deg) rotate(10deg) ; */
    transform: rotateY(180deg);
    height: 250px;
    width: 170px;
    position: absolute;



}


.ace_quotes_front,
.ace_quotes_back {
    /* position: fixed;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; */
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}



.ace_quotes_back {

    background-color: #454651;
    transform: rotateY(180deg);
    color: white;
    text-align: center;

}

.ace_quotes_back img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
}







#contact {
    background-color: black;
    width: 100%;
    height: 1200px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;

}

#contact h2 {
    color: white;
    font-weight: 900;
    text-align: center;
    padding-top: 50px;
    letter-spacing: 5px;
    font-size: 52px;
    font-family: 'M PLUS 1', sans-serif;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.formulaire input {
    width: 400px;
}

.formulaire input,
.formulaire textarea {
    background-color: black;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    border-right: none;
    border-top: none;
    margin: 10px;
    color: white;
}

.formulaire textarea {
    margin-right: 30px;
}

.formulaire select {
    border: none;
    margin: 10px;
    opacity: 0.6;
    border-bottom: 1px solid white;
}

#sujet {
    background-color: black;
    color: white;

}

.formulaire label {
    color: white;
    display: flex;
    margin-left: 2%;
    font-family: 'Glory', sans-serif;
    font-weight: 700;
    width: 40%;



}

.text-span {
    color: #00c2ff;
    margin-left: 1%;
}

.mail {
    position: absolute;
    bottom: 40px;
    left: 40px;
    margin: 30px;
}

.social-media {
    display: flex;
    width: 80px;
    height: 80px;
    margin-top: 10%;
}

.social-media:hover {
    cursor: pointer;
}

.social-media img:nth-child(2) {
    margin-left: 50%;
}

.mail a {
    color: white;
    margin-left: 1%;
    font-size: 20px;
    text-decoration: none;
}

.mail a:hover {
    color: #00c2ff;
    cursor: pointer;
}

.exclamation {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 90px;
    margin: 0;
    letter-spacing: 5px;
    transition: all 1s linear;

}

.contact-titre {
    display: flex;
    flex-direction: column;
    margin-left: 10%;


}

.titre-contact {
    font-family: 'Koulen', cursive;
    font-size: 100px;
    padding-top: 5%;
    color: white;
    margin: 0;
    transition: all 1s linear;


}

.titre-contact:hover {
    cursor: pointer;
}






.submit {
    background-color: #C4C4C4;
    font-weight: 700;
    font-size: 15px;
    border-radius: 10px;
    border-color: #C4C4C4;
    box-shadow: 5px 10px 10px #C4C4C4;
    margin-top: 20px;
    margin-left: 150%;
    text-align: center;
    cursor: pointer;
    padding: 8px 25px;
}

.submit:hover {
    transform: scale(0.9);
}

.formulaire {
    width: 30%;
    height: 100%;
    margin: 0px 0px 0px 300px;
    padding-bottom: 20px;
    position: absolute;
    top: 20%;
    right: 10%;
}



.test {
    position: fixed;
    top: 0px;
    left: 0px;


}

.test .valley_blog_front {
    background-color: #5e171d;
    width: 100vw;
    height: 100vh;

}


.eyes {
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    right: -72%;
}

.eye {
    background-color: white;
    width: 10%;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin: 2%;
    position: relative;
}

.ball {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    border: 15px solid #333;
}












.topicon {
    display: flex;
    justify-content: start;
}

.bottomicon-tips {
    margin-left: 96%;

}

.footer-tips {
    display: flex;
    justify-content: flex-end;

}

.header-tips {
    margin: 0;
}

.titre-tips {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titre-tips img {
    width: 70px;
    height: 70px;


}

h1 {
    font-size: 70px;
    font-weight: 700;
    color: white;
    letter-spacing: 5px;
    font-family: 'Koulen', cursive;
    text-transform: uppercase;
    animation: slide 1s linear;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateY(0%);
    }
}


.top img {
    width: 250px;
    height: 350px;
    margin-left: 70px;

}

.para p {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 23px;
    font-weight: 600;
    color: white;
    line-height: 1.5;
}

.para {
    display: flex;
    margin: 40px 10px 40px 10px;
}


.para1,
.para2 {
    width: 50%;
}


@keyframes show {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.note {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: 'Hind Madurai', sans-serif;

}

.tips {
    color: #970710;
    font-weight: 900;
    margin-right: 10px;

}
.exit img{
   width: 30px;
   height: 30px;
   margin-left: 97%;
   cursor: pointer;
}











/* Nouvelle classe (active) ajouté dans JS pour dos de carte  */





/* Le dos de la DAME  */

.content_card_queen.active {
    display: block;
    opacity: 1;
    position: fixed;
    height: 250px;
    width: 170px;
    z-index: 10;
    animation: carteBack .6s ease-in .6s forwards;
    background-color: #454651;
    overflow: scroll;
}

.content_card_queen.active *:not(.para, .titre-books , .note, .bottomicon-books) {
    opacity: 0;
    transform: translateY(100%);
    animation: conntentApear 1s ease-in 1s forwards;

}

@keyframes conntentApear {

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes carteBack {

    to {
        width: 100vw;
        height: 100vh;
        transform: rotate(0deg);
        left: 0;
        top: 0;
    }
}


/* Le dos du ROI  */



.content_card_king.active {
    display: block;
    opacity: 1;
    transform: rotate(10deg) translateX(4px) translateY(9px);
    overflow: scroll;
    position: fixed;
    height: 250px;
    width: 170px;
    z-index: 10;
    animation: carteBack .6s ease-in .6s forwards;
    background-color: #454651;
}

.content_card_king.active * {
    opacity: 0;
    transform: translateY(100%);
    animation: conntentApear 1s ease-in 1s forwards;

}

@keyframes conntentApear {

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes carteBack {

    to {
        width: 100vw;
        height: 100vh;
        transform: rotate(0deg);
        left: 0;
        top: 0;
    }
}



/* Le dos du VALLEY  */

.content_card_jack.active {
    display: block;
    opacity: 1;
    transform: rotate(-20deg) translateX(15px) translateY(18px);
    overflow: scroll;
    position: fixed;
    height: 250px;
    width: 170px;
    z-index: 10;
    animation: carteBack .6s ease-in .6s forwards;
    background-color: #454651;
}

.content_card_jack.active * {
    opacity: 0;
    transform: translateY(100%);
    animation: conntentApear .3s ease-in .3s forwards;

}

@keyframes conntentApear {

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes carteBack {

    to {
        width: 100vw;
        height: 100vh;
        transform: rotate(0deg);
        left: 0;
        top: 0;
    }
}


/* Le dos de l'as  */

.content_card_ace.active {
    display: block;
    opacity: 1;
    transform: rotate(10deg) translateX(-13px) translateY(9px);
    overflow: scroll;
    position: fixed;
    height: 250px;
    width: 170px;
    z-index: 10;
    animation: carteBack .6s ease-in .6s forwards;
    background-color: #454651;
}

.content_card_ace.active * {
    opacity: 0;
    transform: translateY(100%);
    animation: conntentApear 1s ease-in 1s forwards;

}

@keyframes conntentApear {

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes carteBack {

    to {
        width: 100vw;
        height: 100vh;
        transform: rotate(0deg);
        left: 0;
        top: 0;
    }
}
.content_card_queen , .content_card_jack , .content_card_king , .content_card_ace{
    display: none;
}




 /* ...... PAGE BLOG ....  */


 .exit-jack img {
    width: 30px;
    height: 30px;
    margin-left: 97%;
    cursor: pointer;
 }
.header-blog {
    display: flex;
    justify-content: center;
}
.header-blog img {
    width: 60px;
    height: 60px;
    margin-top: 50px;
    margin-left: 20px;
}
h1 {
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;

}
.titres {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 7%;
}
.titres p {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    color: white;
    font-family: 'Indie Flower', cursive;
    letter-spacing: 4px;
    
}
.videos {
   
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 20%;


}
.videos p {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Koulen', cursive;
    color: white;
    letter-spacing: 3px;
}

.cardistry {
    margin-top: 50px;
}
.cardistry p {
    border-left: 1px solid white;
    padding-left: 20px;
}
.mentalism {
    margin-top: 50px;
    margin-right: 60px;

}
.mentalism p {
    border-left: 1px solid white;
    padding-left: 20px;
}
.footer-blog {
    display: flex;
    justify-content: end;
}
.topicon {
    display: flex;
    justify-content: start;
    animation: rotation 2s ease-in;
    position: absolute;

}
.bottomicon {
    animation: rotation 2s ease-in;

}
@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
}

.items:hover {
    transform: scale(0.9);
    cursor: pointer;
} 
.vid:hover {
    transform: scale(0.9);
    cursor: pointer;
} 


.articles {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 10%;
    display: none;
}
.articles h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Koulen', cursive;
    color: white;
    letter-spacing: 3px;
}
.articles p {

    width: 80%;
    margin-left: 40px;
    color: white;
    font-size: 30px;
}
.closeup {
    margin-top: 50px;
}
.closeup p {
    border-left: 1px solid white;
    padding-left: 20px;

}






/* .. .... . PAGE BOOKS ... .. ...  */

.exit-queen img {
    width: 30px;
    height: 30px;
    margin-left: 97%;
    cursor: pointer;
 }
.topicon-books {
    display: flex;
    justify-content: start;
    animation: rotation 2s ease-in;
    position: absolute;
    top: 0;
    left: 0;

}

@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(180deg);
    }
}

.bottomicon-books {
    margin-top: 150px;
    animation: rotation 2s ease-in;


}


.footer-books {
    display: flex;
    justify-content: flex-end;

}

.header-books {
    margin: 0;
}

.titre-books {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 60px;
}

.titre-books img {
    width: 70px;
    height: 70px;
    margin-top: 25px;
    margin-left: 10px;
    animation: slide 1s ease-in;

}

h1 {
    font-size: 70px;
    font-weight: 700;
    color: white;
    letter-spacing: 5px;
    font-family: 'Koulen', cursive;
    text-transform: uppercase;
    animation: slide 1s ease-in;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

.touchb img {
    height: 20px;
    position: relative;
    top: 50px;
}


.touchb {
    background-color: #F73746;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    width: 200px;
    margin-left: 40%;
    margin-bottom: 100px;
    padding: 20px;
    position: relative;

}

.touchb:hover {
    transform: scale(0.9);

}

.touchb a {
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}



:root {
    --mobile-width: 325px;
    --mobile-height: 670px;
    --mobile-radius: 25px;
    --separator-height: 500px;

    --bg: #fdf3f2;
    --mobile-bg: #fdeae6;
    --intro-bg: #eed7d1;
    --font-color: #807b7b;

    --transition: transform 0.7s ease-in-out;
}

.container , .container1 ,.container2 , .container3 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 17%;
    margin: 60px;
}



.mobile-layout , .mobile-layout1 ,.mobile-layout2 ,.mobile-layout3{
    width: var(--mobile-width);
    height: var(--mobile-height);
    margin: 30px 0;
    border-radius: var(--mobile-radius);
    perspective: 500px;
    overflow: hidden;
    color: var(--font-color);
    background-color: #454651;
    border: 2px solid white;
}

.notification-header , .notification-header1 ,.notification-header2 , .notification-header3 {
    position: fixed;
    top: 5px;
    width: 100%;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    z-index: 6;
}



.book-cover ,.book-cover1 ,.book-cover2 ,.book-cover3 {
    position: relative;
    height: var(--separator-height);
    width: calc(var(--mobile-width) * 2);
    left: -52.5%;
    border-top-left-radius: var(--mobile-radius);
    border-top-right-radius: var(--mobile-radius);
    transform-style: preserve-3d;
    transform-origin: 50% 40%;
    transition: var(--transition);
    z-index: 4;
}

.book-top , .book-top1 ,.book-top2 , .book-top3{
    width: 170px;
    position: absolute;
    top: 180px;
    left: 250px;
    z-index: 5;
    transform: translateZ(28.5px);
    height: 255px;
}

.book-side ,.book-side1 , .book-side2 , .book-side3 {
    position: absolute;
    top: 430px;
    left: 222px;
    transform: translateY(-15px) translateX(0px) translateZ(15px) rotateX(104deg);
}

.book-cover:hover , .book-cover1:hover ,.book-cover2:hover ,.book-cover3:hover {
    transform: rotateX(75deg) translateZ(3px) scale(0.75);
}

.book-cover:hover+.preface , .book-cover1:hover+.preface1 , .book-cover2:hover+.preface2 , .book-cover3:hover+.preface3 {
    transform: translateY(-302px);

}
.book-cover:hover+.preface .body , .book-cover1:hover+.preface1 .body1 , .book-cover2:hover+.preface2 .body2 , .book-cover3:hover+.preface3 .body3 {
    opacity: 1;
}


.icon , .icon1 , .icon2 ,.icon3{
    transform: rotateX(180deg);
}

.preface , .preface1 , .preface2 , .preface3{
    height: var(--separator-height);
    padding: 60px;
    transition: var(--transition);
    background: white;
}

.headerboo , .headerboo1 , .headerboo2 , .headerboo3 {
    display: flex;
    align-items: center;
}

.title , .title1 ,.title2, .title3{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 26px;
    margin-bottom: 10px;
}

.author , .author1 , .author2 , .author3 {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin-bottom: 20px;
}

.icon , .icon1 ,.icon2 , .icon3 {
    transform-origin: top;
    transition: var(--transition);
}

.body ,.body1 , .body2 , .body3 {
    font-family: 'Quicksand', sans-serif;
    opacity: 0;
}

.body p:first-child , .body1 p:first-child ,.body2 p:first-child , .body3 p:first-child{
    margin-bottom: 15px;
}

#books1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#books2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/* .. ... .. QUOTES .. .. ...  */

.exit-ace img {
    width: 30px;
    height: 30px;
    margin-left: 97%;
    cursor: pointer;
 }



 .topicon-quotes {
    display: flex;
    justify-content: start;
    animation: rotation 2s ease-in;
    position: absolute;
    left: 5px;
    top: 5px;
}

@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(180deg);
    }
}

.bottomicon {
    margin-top: 150px;
    animation: rotation 2s ease-in;


}


.footer-quotes {
    display: flex;
    justify-content: flex-end;

}

.header-quotes {
    margin: 0;
}

.header-quotes .titre {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.header-quotes .titre img {
    width: 70px;
    height: 70px;
    margin-top: 60px;
    margin-left: 10px;
    animation: slide 1s ease-in;

}

.header-quotes .titre h1 {
    font-size: 70px;
    font-weight: 700;
    color: white;
    letter-spacing: 5px;
    font-family: 'Koulen', cursive;
    text-transform: uppercase;
    animation: slide 1s ease-in;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

.touch img {
    height: 20px;
    position: relative;
    top: 50px;
}


.touch {
    background-color: #F73746;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    width: 200px;
    margin-left: 40%;
    margin-bottom: 100px;
    padding-right: 20px;
    position: relative;

}

.touch:hover {
    transform: scale(0.9);

}

.touch a {
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}





#magiciens {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.magiciens {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.one {
    background-image: url(/Images/magician1.png);
    background-size: cover;
    width: 190px;
    height: 250px;
    display: block;
}

.two {
    background-image: url(/Images/magician2.png);
    background-size: cover;
    width: 190px;
    height: 250px;
    display: block;
}

.three {
    background-image: url(/Images/magicien3.png);
    background-size: cover;
    width: 190px;
    height: 250px;
    display: block;
}

.four {
    background-image: url(/Images/DAVID\ BLAINE.png);
    width: 190px;
    height: 250px;
    display: block;
}

[type="checkbox"] {
    display: none;
}

/* .cadre {
    width: 20%;
    height: 250px;
    background-color: #292a2c;
    position: absolute;
    transform: translateX(-15%);
    visibility: hidden;
    box-shadow: 5px 5px 10px#292a2c;
    border-radius: 10%;
    border: 0;
} */
.cadre {
    width:100%;
    position: absolute;
    height: 250px;
    background-color: #292a2c;
    z-index: -2;
    transform: translateY(-100%);

}



#image {
    z-index: 10;
}



#image:checked~.cadre {
    transform: translateY(0%);
    transition: all 500ms linear ;
    animation: shake 500ms ease-in-out 500ms ;


}

/* @keyframes appear {
    from {
transform: translateY(-100%);
    }

    to {
        transform: translateY(100%);
        opacity: 1;


    }

} */

#image1:checked~.cadre {
    transition: all 500ms linear ;
    transform: translateY(0%);
    animation: shake 500ms ease-in-out 500ms ;

}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}



#image2:checked~.cadre {
    transform: translateY(0%);
    transition: all 500ms linear ;
    animation: shake 500ms ease-in-out 500ms ;



}



#image3:checked~.cadre {
    transform: translateY(0%);
    transition: all 500ms linear ;
    animation: shake 500ms ease-in-out 500ms ;



}



.cadre h2 {
    letter-spacing: 1px;
    color: black;
    margin-top: 5px;
    font-family: 'Lobster', cursive;
    font-weight: 900;
    text-align: center;
    letter-spacing: 2px;


}

.cadre p {
    font-weight: 700;
    font-size: 19px;
    color: white;
    text-align: center;
    text-transform: capitalize;

}

/* .exit {
    background-image: url(/Images/croixnoir.png);
    background-size: cover;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 5px;
    /* left: 180px; 
    right: 10px;
    z-index: 3;
} */

/* #quit:checked~.cadre {
    animation: hide 1s linear forwards;
}

@keyframes hide {
    from {
        transform: translateZ(0);
    }

    to {
        transform: translateZ(50px);
    }
}; */

.fleche {
    width: 50px;
    height: 50px;
    margin: 0px 0px 40px 70px;
    animation: show 800ms linear infinite;

}

@keyframes show {
    0% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-15px);
    }
}