// Logo == lobster
// Chaussure infos == kanit
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&family=Lobster&display=swap");
// chaussette
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
// acheter
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

body {
  font-family: sans-serif;
  font-size: 1em;
}

#logoNav {
  font-family: "Lobster", cursive;
}

#claquettes {
  article {
    font-family: "Kanit", sans-serif;

    // font-family: 'Ubuntu', sans-serif;
  }
}

#chaussettes {
  #textChaussette h2 {
    font-family: "Abril Fatface", cursive;
  }
  #textChaussette p{
    font-family: 'Courgette', cursive;
  }
}
