@font-face {
  font-family: lovelo;
  src: url(../font/Lovelo-Line-Bold.otf);
}
@font-face {
  font-family: lasenter;
  src: url(/font/LasEnter_PersonalUseOnly.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

html {
}

body {
  margin: 0;
  background-image: url(/assets/mur-fond-modif.jpg);
  background-size: 100%;
  background-repeat: repeat;
}
header img {
  height: 180px;
  animation-duration: 6s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
}

@keyframes clignoter {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  53% {
    opacity: 0.1;
  }
  60% {
    opacity: 1;
  }
  63% {
    opacity: 0.5;
  }
  64% {
    opacity: 1;
  }
  69% {
    opacity: 0.3;
  }
  74% {
    opacity: 1;
  }
  79% {
    opacity: 0.2;
  }
  83% {
    opacity: 1;
  }
  84% {
    opacity: 0.5;
  }
  85% {
    opacity: 1;
  }
  88% {
    opacity: 0.3;
  }
  93% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

a:visited {
  color: white;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  position: fixed;
  padding-right: 50px;
  z-index: 1;
}
.menumaster {
  width: 400px;
  padding-right: 50px;
  display: flex;
}
.menumaster ol {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  font-family: lasenter;
  font-size: 30px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.menumaster li {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.menumaster li:hover {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  animation-duration: 2s;
  animation-name: clignoter2;
  /* animation-iteration-count: infinite; */
  animation-fill-mode: forwards;
}

@keyframes clignoter2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  53% {
    opacity: 0.1;
  }
  60% {
    opacity: 1;
  }
  63% {
    opacity: 0.5;
  }
  64% {
    opacity: 1;
  }
  69% {
    opacity: 0.3;
  }
  74% {
    opacity: 1;
  }
  79% {
    opacity: 0.2;
  }
  83% {
    opacity: 1;
  }
  84% {
    opacity: 0.5;
  }
  85% {
    opacity: 1;
  }
  88% {
    opacity: 0.3;
  }
  93% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
.text1 {
  font-family: lovelo;
  color: #6ef52e;
  font-size: 25px;
  -webkit-filter: drop-shadow(1px 5px 5px #6ef52e);
}
.burgerimg {
  width: 200px;
  opacity: 80%;
  /* Dézoomer */
  -webkit-filter: drop-shadow(1px 1px 0 #6ef52e) drop-shadow(-1px -1px 0 black);
  filter: drop-shadow(1px 1px 0) drop-shadow(-1px -1px 0 #6ef52e);

  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.burgerimg:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.greenarrow {
  height: 40px;
  -webkit-filter: drop-shadow(0px 5px 5px #6ef52e);
  animation: clignoter 9s infinite none, slide1 0.8s ease-in-out infinite;
}

.accueil1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
.menu1 {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 200px;
  flex-shrink: 0;
}
.menu1 h2 {
  font-family: lovelo;
  color: #6ef52e;
  font-size: 35px;
  -webkit-filter: drop-shadow(1px 5px 5px #6ef52e);
}
.menu1 img {
  height: 350px;
}
.scrollcontainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.scrollpane > .card {
  transform: translate(0, 0) scale(1);
}
.scrollpane div.actif:nth-child(1) {
  transform: translate(-100%, -30%) scale(0.7);
}
.scrollpane div.actif:nth-child(2) {
  transform: translate(-100%, -30%) scale(0.7);
}
.scrollpane div.actif:nth-child(3) {
  transform: translate(-100%, -30%) scale(0.7);
}
.scrollpane div.actif:nth-child(4) {
  transform: translate(-100%, -30%) scale(0.7);
}
.scrollpane div.actif:nth-child(5) {
  transform: translate(-100%, -30%) scale(0.7);
}
.scrollpane div.actif:nth-child(6) {
  transform: translate(-100%, -30%) scale(0.7);
}
.scrollpane div.actif:nth-child(7) {
  transform: translate(-100%, -30%) scale(0.7);
}
.scrollpane div.actif:nth-child(8) {
  transform: translate(-100%, -30%) scale(0.7);
}
.scrollpane div.actif:nth-child(9) {
  transform: translate(-100%, -30%) scale(0.7);
}
.scrollpane div.actif:nth-child(10) {
  transform: translate(-100%, -30%) scale(0.7);
}
.scrollpane div.actif:nth-child(11) {
  transform: translate(-100%, -30%) scale(0.7);
}
.scrollpane div.actif:nth-child(12) {
  transform: translate(-100%, -30%) scale(0.7);
}
.scrollpane {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  height: 100vh;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  /* Active la force d'adhérence sur l'axe des X */
  scroll-snap-type: x mandatory;

  /* Affiche la barre de défilement */
  /* overflow-x: scroll; */
}
.scrollpane div {
  background-size: cover;
  background-position: center;
}
.scrollpane > div:hover {
  -webkit-filter: drop-shadow(1px 3px 5px #6ef52e);
  cursor: pointer;
  /* -webkit-transform: scale(1.25); */
  /* transform: scale(1.25); */
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;

  /* Espacement entre les */
  margin-right: 20px;

  /* Conserve la taille des cartes (items) */
  flex: 0 0 auto;

  /* Aligne le défilement au centre */
  scroll-snap-align: center;
}

.scrollpane > div {
  transition: all 0.4s;
}

.scrollpane.actif > div:nth-child(12) {
  transform: translateY(3200px);
  background-image: url(/assets/ingredients/pain-blanc.png);
  background-size: 300px;
  transition-delay: 0s;
}
.scrollpane.actif > div:nth-child(11) {
  transform: translateY(2940px);
  background-size: 280px;
  background-image: url(/assets/ingredients/concombres.png);
  transition-delay: 0.1s;
}
.scrollpane.actif > div:nth-child(10) {
  transform: translateY(2630px);
  background-size: 300px;
  background-image: url(/assets/ingredients/ketchup.png);
  transition-delay: 0.2s;
}
.scrollpane.actif > div:nth-child(9) {
  transform: translateY(2340px);
  background-size: 300px;
  background-image: url(/assets/ingredients/mayonnaise.png);
  transition-delay: 0.3s;
}
.scrollpane.actif > div:nth-child(8) {
  transform: translateY(2050px);
  background-size: 280px;
  background-image: url(/assets/ingredients/cornichons.png);
  transition-delay: 0.4s;
}
.scrollpane.actif > div:nth-child(7) {
  transform: translate(30px, 1750px);
  background-size: 250px;
  background-image: url(/assets/ingredients/oignon-tranche.png);
  transition-delay: 0.5s;
}
.scrollpane.actif > div:nth-child(6) {
  transform: translateY(1450px);
  background-size: 300px;
  background-image: url(/assets/ingredients/cheddar-fondu.png);
  transition-delay: 0.6s;
}
.scrollpane.actif > div:nth-child(5) {
  transform: translateY(1150px);
  background-size: 300px;
  background-image: url(/assets/ingredients/steak1.png);
  transition-delay: 0.7s;
}
.scrollpane.actif > div:nth-child(4) {
  transform: translate(-65px, 860px);
  background-size: 200px;
  background-image: url(/assets/ingredients/tomate2.png);
  transition-delay: 0.8s;
}
.scrollpane.actif > div:nth-child(3) {
  transform: translate(65px, 560px);
  background-size: 200px;
  background-image: url(/assets/ingredients/tomate1.png);
  transition-delay: 0.9s;
}
.scrollpane.actif > div:nth-child(2) {
  transform: translateY(280px);
  background-size: 300px;
  background-image: url(/assets/ingredients/salade1.png);
  transition-delay: 1s;
}
.scrollpane.actif > div:nth-child(1) {
  background-size: 300px;
  background-image: url(/assets/ingredients/pain-blanc-dessous.png);
  transition-delay: 1.1s;
}

.scrollpane:not(.actif) > div:nth-child(12) {
  transform: translate(-450px, 2900px);
  background-image: url(/assets/ingredients/pain-blanc.png);
  background-size: 150px;
  transition-delay: 0s;
}
.scrollpane:not(.actif) > div:nth-child(11) {
  transform: translate(-450px, 2720px);
  background-size: 150px;
  background-image: url(/assets/ingredients/concombres.png);
  transition-delay: 0.1s;
}
.scrollpane:not(.actif) > div:nth-child(10) {
  transform: translate(-450px, 2520px);
  background-size: 150px;
  background-image: url(/assets/ingredients/ketchup.png);
  transition-delay: 0.2s;
}
.scrollpane:not(.actif) > div:nth-child(9) {
  transform: translate(-450px, 2320px);
  background-size: 150px;
  background-image: url(/assets/ingredients/mayonnaise.png);
  transition-delay: 0.3s;
}
.scrollpane:not(.actif) > div:nth-child(8) {
  transform: translate(-450px, 2220px);
  background-size: 130px;
  background-image: url(/assets/ingredients/cornichons.png);
  transition-delay: 0.4s;
}
.scrollpane:not(.actif) > div:nth-child(7) {
  transform: translate(-450px, 1830px);
  background-size: 100px;
  background-image: url(/assets/ingredients/oignon-tranche.png);
  transition-delay: 0.5s;
}
.scrollpane:not(.actif) > div:nth-child(6) {
  transform: translate(450px, 2900px);
  background-size: 150px;
  background-image: url(/assets/ingredients/cheddar-fondu.png);
  transition-delay: 0.6s;
}
.scrollpane:not(.actif) > div:nth-child(5) {
  transform: translate(450px, 1150px);
  background-size: 150px;
  background-image: url(/assets/ingredients/steak1.png);
  transition-delay: 0.7s;
}
.scrollpane:not(.actif) > div:nth-child(4) {
  transform: translate(450px, 860px);
  background-size: 150px;
  background-image: url(/assets/ingredients/tomate2.png);
  transition-delay: 0.8s;
}
.scrollpane:not(.actif) > div:nth-child(3) {
  transform: translate(450px, 560px);
  background-size: 150px;
  background-image: url(/assets/ingredients/tomate1.png);
  transition-delay: 0.9s;
}
.scrollpane:not(.actif) > div:nth-child(2) {
  transform: translate(450px, 130px);
  background-size: 300px;
  background-image: url(/assets/ingredients/salade1.png);
  transition-delay: 1s;
}
.scrollpane:not(.actif) > div:nth-child(1) {
  background-size: 150px;
  background-image: url(/assets/ingredients/pain-blanc-dessous.png);
  transition-delay: 1.1s;
}
.contactparent {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  padding-top: 200px;
  flex-shrink: 0;
}
.contact1 {
  width: 40vw;
  height: 80vh;
}
.contact1 h2,
p {
  font-family: lovelo;
  color: #6ef52e;
  font-size: 35px;
  -webkit-filter: drop-shadow(1px 5px 5px #6ef52e);
}

.contact2 {
  width: 40vw;
  height: 80vh;
}
.contact2 > i {
  font-size: 30px;
  color: #6ef52e;
  -webkit-filter: drop-shadow(1px 5px 5px #6ef52e);
}
.contact2 > a {
  font-size: 32px;
  color: #6ef52e;
  -webkit-filter: drop-shadow(1px 5px 5px #6ef52e);
  top: 50px;
  text-decoration: none;
}
.contact2 :nth-child(2):nth-child(3):nth-child(4) {
  color: #6ef52e;
  margin: 50px;
  -webkit-filter: drop-shadow(1px 5px 5px #6ef52e);
}
/* .contact2 h2,
p {
  font-family: lovelo;
  color: #6ef52e;
  font-size: 35px;
  -webkit-filter: drop-shadow(1px 5px 5px #6ef52e);
} */

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}

/* Bouton pour aller au bot */

/* formulaire : */

.container {
  width: 80%;
  padding: 20px;
  border: solid 2px transparent;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 9px 8px #6ef52e;
  box-shadow: 0px 0px 9px 8px #6ef52e;
}
.container h2 {
  width: 100%;
  color: #6ef52e;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}
.container .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.container .row100 .col {
  position: relative;
  width: 97%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}
.container .row100 .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #6ef52e;
}
.container .row100 .inputBox input,
.container .row100 .inputBox.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}
.container .row100 .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}
.container .row100 .inputBox input:focus + .text,
.container .row100 .inputBox input:valid + .text {
  top: -35px;
  left: -10px;
}
.container .row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #6ef52e;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.container .row100 .inputBox input:focus ~ .line,
.container .row100 .inputBox input:valid ~ .line {
  height: 100%;
}
.container .row100 .inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}
.container .row100 .inputBox.textarea textarea {
  height: 100%;
  resize: none;
}
.container .row100 .inputBox textarea:focus + .text,
.container .row100 .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}
.container .row100 .inputBox textarea:focus ~ .line,
.container .row100 .inputBox textarea:valid ~ .line {
  height: 100%;
}
input[type="submit"] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #6ef52e;
  color: #000;
  font-size: 18px;
  border-radius: 2px;
}
input[type="submit"]:hover {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
section {
  max-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}
